<p style="color: green"><%= notice %></p>

<%= render @node %>

<div>
  <%= link_to "Edit this node", edit_node_path(@node),class: "btn btn-success"%><br><br>
  <%= button_to "Destroy node", @node, method: :delete,class: "btn btn-danger" %><br>
  <%= link_to "Back to nodes", nodes_path ,class: "btn btn-warning"%>

  
</div>
