<p style="color: green"><%= notice %></p>
<%= render "/manages/user" %>

<div>
  <%= link_to "Edit this user",edit_manage_url(@user),class: "btn btn-success"%><br><br>
   <%= button_to "Destroyuser", @manages, method: :delete,class: "btn btn-danger" %><br>
  <%= link_to "Back to users", manages_url,class: "btn btn-warning" %>
 
</div>
