<%= form_with(model: state) do |form| %>
  <% if state.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(state.errors.count, "error") %> prohibited this state from being saved:</h2>
      <ul>
        <% state.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label :name ,:class=>"col-sm-2 control-label" %> 
    <%= form.text_field :name ,:placeholder => "Enter your state Name"%>
  </div><br>
  <div class="form-group">
    <%= form.label :country_id,:class=>"col-sm-2 control-label"%>
    <%= form.select :country_id, Country.all.map { |c| [c.name, c.id] } %>
  </div><br>
  <div class="actions">
    <%= form.submit  :class=>"btn btn-secondary" %>
  </div>
</div>
<% end %>



