<p style="color: green"><%= notice %></p>

<%= render @state %>

<div>
  <%= link_to "Edit state", edit_state_path(@state),class: "btn btn-primary" %><br><br>
  <%= button_to "Destroy", @state, method: :delete ,class: "btn btn-danger"%><br>
  <%= link_to "Back", states_path ,class: "btn btn-success"%>
</div>