<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
  <div id="signupbox" style=" margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-info">
      <div class="panel-heading">
        <!-- <div class="panel-title">Sign Up</div> -->
        <!-- <div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" href="/accounts/login/">Sign In</a></div>
      </div> -->
      <div class="panel-body" >
          <%= form_with(model: company, html: {class: "form-horizontal"} ) do |form|%>
          <% if company.errors.any? %>
            <div style="color: red">
              <!-- <h2><%#= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2> -->
            <div class="create_of_company">
              <ul>
                <% company.errors.each do |error| %>
                  <li><%= error.full_message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <input type='hidden' name='csrfmiddlewaretoken' value='XFe2rTYl9WOpV8U6X5CfbIuOZOELJ97S' />
          <div  class="form-group required">
            <label class="control-label col-md-4  requiredField"> Name<span class="asteriskField">*</span> </label>
            <div class="controls col-md-8 ">              
              <%= form.text_field :name , placeholder: "Choose your Name" , class: "input-md  textinput textInput form-control"%>
            </div>

          </div>
          <div  class="form-group required">
            <label  class="control-label col-md-4  requiredField"> country<span class="asteriskField">*</span> </label>
            <div class="controls col-md-8 ">              
              <%= form.select :country_id, Country.all.map { |c| [c.name, c.id] }, {:prompt => "--select country--"}, class: "form-control",class: "input-md  form-control"  %>
            </div>
          </div>
          <div class="form-group required">
            <label  class="control-label col-md-4  requiredField">state<span class="asteriskField">*</span> </label>
            <div class="controls col-md-8 " id="states_based_country"> 
              <%= form.select :state_id, State.all.map { |c| [c.name, c.id] }, {:prompt => "--select state--"}, class: "form-control" ,class: "input-md textinput textInput form-control"%>
            </div>
          </div>
          <div id="div_id_city_id" class="form-group required">
            <label for="id_city_id" class="control-label col-md-4  requiredField"> City<span class="asteriskField">*</span> </label>
            <div class="controls col-md-8 "id="cities_based_state">              
              <%= form.select :city_id, City.all.map { |c| [c.name, c.id] }, {:prompt => "--select city--"}, class: "form-control" ,class: "input-md textinput textInput form-control" %>
            </div>
          </div>
          <div id="div_id_postcode" class="form-group required">
            <label for="id_postcode" class="control-label col-md-4  requiredField"> Postcode<span class="asteriskField">*</span> </label> 
            <div class="controls col-md-8 ">              
              <%= form.text_field :postcode ,class: "input-md textinput textInput form-control",placeholder: "your company postcode" %>
            </div>
          </div>
          <div id="div_id_start_date" class="form-group required">
            <label for="id_start_date" class="control-label col-md-4  requiredField"> Start date<span class="asteriskField">*</span> </label>
            <div class="controls col-md-8 ">               
               <%= form.date_field :start_date,class: "input-md textinput textInput form-control",placeholder: "your company name" %>
            </div>
          </div>
          <div id="div_id_active" class="form-group required">
            <label for="id_active" class="control-label col-md-4  requiredField"> Active<span class="asteriskField">*</span> </label>
            <div class="controls col-md-8 ">               
              <%= form.check_box :active %>
            </div>
          </div>
          <div class="form-group">
            <div class="aab controls col-md-4 "></div>
            <div class="controls col-md-8 ">              
            <input type="submit" name="Signup" value="Create company" class="btn  btn-success" id="button-id-signup" />
            <%= link_to "Back to companys", @company_path ,class: "btn btn-dark"%>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('#company_country_id').change(function() {
    var country_id = $('#company_country_id').val();
    $.ajax({
        url: "/get_states",
        type: "GET",
        data: $.param({ country_id: country_id })
    })
});
</script>
