
<div class="row">
  <h1>company Record</h1>
  <div class="ragister">
    name  :           <%= @company.name %><br>
    country  :     <%= @company.country.name %><br>
    state :           <%= @company.state&.name %><br>
    city  :          <%= @company.city.name %><br>
    postcode :           <%= @company.postcode %><br>
    start_date  :          <%= @company.start_date %><br>
    active:          <%= @company.active%>
    <div>
      <%= link_to "Edit company", edit_company_path(@company),class: "btn btn-success btn-sm" %><br>
      <%= button_to "Destroy company", @company, method: :delete ,class: "btn btn-danger btn-sm"%>
      <%= link_to "Back to companys", companies_path,class: "btn btn-warning" %>          
    </div>
  </div>
</div>









<style >
  *{
    margin: 0px;
    padding: 0px;
  }
  .row{
    width: 410px;
    height: auto;
        
    background-color: white;
    margin-left: 30%;

  }
  h1{
    text-align: center;
    color: rgba(204, 43, 43, 0.8)

  }
  .ragister{
    color: blue;
    margin-left: 60px;
    
    font-size:22px;
  }
</style>