<%= form_with(model: role) do |form| %>
  <% if role.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(role.errors.count, "error") %> prohibited this role from being saved:</h2>

      <ul>
        <% role.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name,:class=>"col-sm-2 control-label" %>
    <%= form.text_field :name ,placeholder: "Enter your role name"%>
  </div><br>

  <div>
    <%= form.submit class: "btn btn-secondary" %>
  </div>
<% end %>

