
<p style="color: green"><%= notice %></p>
  <table id="myTable">
  <tr class="header">
    <th>No</th>
    <th style="width:30%;">Name</th>
    <th style="width:40%;" colspan="3">Actions</th>
  </tr>
  <% @countries.each_with_index do |country, sindex| %>
  <tr>
    <td><%= sindex+1 %></td>
    <td><%= country.name %></td>
    <td><%= link_to "Show", country,class: "btn btn-primary" %></td>
    <td><%= link_to "Edit", edit_country_path(country),class: "btn btn-success" %></td>
    <td><%= button_to "Destroy", country, method: :delete ,class: "btn btn-danger"%></td>
  </tr>
  <% end %>
</table> <br>
<%= link_to "New country", new_country_path ,class: "btn btn-outline-primary"%><br>
<%= will_paginate @countries, renderer: BootstrapPagination::Rails %>

<style>
* {
  box-sizing: border-box;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}
</style>



