<div id="<%= dom_id image %>">
  <p>
    <strong>Name:</strong>
    <%= image.name %>
  </p>

  <p>
    <strong>Real name:</strong>
    <%= image.real_name %>
  </p>

  <p>
    <strong>User:</strong>
    <%= image.user_id %>
  </p>

  <p>
    <strong>Imagable:</strong>
    <%= image.imagable_id %>
  </p>

  <p>
    <strong>Imagable type:</strong>
    <%= image.imagable_type %>
  </p>

</div>
