<%= form_with(model: place) do |form| %>
  <% if place.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
        <% place.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label :name, :class=>"col-sm-2 control-label" %>
    <%= form.text_field :name %>
  </div><br><br>
  <div>
    <%= form.label :company_id, :class=>"col-sm-2 control-label" %>
    <%= form.select :company_id, Company.all.map{|u| [u.name , u.id ]} %>    
  </div><br>
  <div>
    <%= form.submit class: "btn btn-outline-secondary" %>
  </div>  
<% end %>