<!DOCTYPE html>
<html>
  <head>
    <title>assignment</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%#= javascript_importmap_tags %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/35.2.1/classic/ckeditor.js"></script>


  </head>
  <body class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" >
      <a class="navbar-brand" style="color:black" href="#">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link <%= params[:controller] == "companies" ? 'active': ''%>" href="/companies">Company</a>
          </li>

          <li class="nav-item">
            <a class="nav-link <%= params[:controller] == "countries" ? 'active': ''%>" href="/countries">Countries</a>
          </li>

          <li class="nav-item">
            <a class="nav-link <%= params[:controller] == "states" ? 'active': ''%>" href="/states">States</a>
          </li>

          <li class="nav-item">
            <a class="nav-link <%= params[:controller] == "cities" ? 'active': ''%>" href="/cities">Cities</a>
          </li>

          <li class="nav-item">
            <a class="nav-link <%= params[:controller] == "manages" ? 'active': ''%>" href="/manages">Users</a>
          </li>

          <li class="nav-item">
            <a class="nav-link <%= params[:controller] == "roles" ? 'active': ''%>" href="/roles">Roles</a>
          </li>

          <li class="nav-item">
            <a class="nav-link <%= params[:controller] == "places" ? 'active': ''%>" href="/places">Places</a>
          </li>

          <li class="nav-item">
            <a class="nav-link <%= params[:controller] == "nodes" ? 'active': ''%>" href="/nodes">Nodes</a>
          </li>
          <% if user_signed_in? %>
            <li class="nav-item">
              <a class="nav-link" href="/users/sign_out">Sign out</a>
            </li>
          <% else %>
            <li class="nav-item">
              <a class="nav-link" href="/users/sign_in">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/sign_up" >Register</a>
            </li>
          <% end %> 
        </ul>   
      </div>
    </nav> 
    <%= render 'layouts/flash_messages' %>
    <%= yield %>
  </body>
  </html>



<style type="text/css">
body{
  background-color: lightcyan;
  background-image: url(<%= asset_path('image2.jpeg')%>);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  }
  .dropdown-menu li:hover{
  visibility: visible;
  }
  .dropdown:hover .dropdown-menu{
    display: block;
  }
  .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
    background-color: #ffba98;
  }
 
</style> 